.tipografia {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.por {
    font-weight: 200;
}

.color0 {
    background-color: #000000;
}

.color1 {
    background-color: #DC3545;
}

.color2 {
    background-color: #4092BC;
}

.color3 {
    background-color: #BD6140;
}

.color4 {
    background-color: #40BDA4;
}

.color5 {
    background-color: #C09180;
}

.colorF {
    background-color: #FFFFFF;
}

.letra0 {
    color: #000000;
}

.letraF {
    color: #FFFFFF;
}

.negrilla {
    font-size: 500%;
    font-weight: 900;
}

@media (max-width: 770px) {
    .negrilla {
        font-size: 400%;
        font-weight: 900;
    }
}

@media (max-width: 642px) {
    .negrilla {
        font-size: 300%;
        font-weight: 900;
    }
}

@media (max-width: 515px) {
    .negrilla {
        font-size: 190%;
        font-weight: 900;
    }
}

.accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background-color: #DC3545;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-outline:hover {
    color: #FFFFFF;
    background-color: #40BDA4;
}


.focus-ring:focus {
    --bs-focus-ring-width: 3px;
    --bs-focus-ring-color: #40bda44d;
}

.accordion-item {
    border: var(--bs-accordion-border-width) solid #000000;
}

.navbar-toggler {
    color: #953086
}

.separación_silabica {
    hyphens: auto;
}

.bloque_responsivo {
    margin: 0 auto;
    width: 50%;
}

@media (max-width: 1000px) {
    .bloque_responsivo {
        margin: 0 auto;
        width: 50%;
    }
}

@media (max-width: 767px) {
    .bloque_responsivo {
        margin: 0 auto;
        width: 100%;
        padding: 0% 15%;
    }
}

@media (max-width: 530px) {
    .bloque_responsivo {
        margin: 0 auto;
        width: 100%;
        padding: 0% 7%;
    }
}

@media (max-width: 470px) {
    .bloque_responsivo {
        flex: 0 1 auto;
        width: 100%;
        padding: 0% 5%;
    }
}

@media (max-width: 420px) {
    .bloque_responsivo {
        flex: 0 1 auto;
        width: 100%;
        padding: 0% 5%;
    }
}

.redondeo_borde {
    border-radius: 15rem;
}

@media (max-width: 1000px) {
    .redondeo_borde {
        border-radius: 2rem;
    }
}

@media (max-width: 767px) {
    .redondeo_borde {
        border-radius: 2rem;
    }
}

@media (max-width: 530px) {
    .redondeo_borde {
        border-radius: 2rem;
    }
}

@media (max-width: 470px) {
    .redondeo_borde {
        border-radius: 2rem;
    }
}

@media (max-width: 420px) {
    .redondeo_borde {
        border-radius: 2rem;
    }
}